.root
  margin: auto

  &:hover 
    opacity: 0.3

  &:hover + .btnList
    display : block

.btnList
  display : none

  &:hover
    display : block

  button:hover
    color : green
    background-color : white

    
  // &:hover ~ .root
  //   opacity: 0.3  

// .CPNT-card:hover
//   opacity: 0.3

//   &.btnList
//     opacity: 1
  



  





    




