@import "../../common/_common.sass";


.signUpForm
    position: absolute
    // width: 800px
    width : fit-content
    top: 10%
    left: calc(50% - 300px / 2)
    display: inline-flex
    flex-direction: column

    .signUpFormBox 
        display: inline-flex
        flex-direction: column

    
    .imgBasicSignUp
        width : 300px
        height : 44px
        margin-top: 15px
        background-color: $POINT-COLOR-1 
        font-weight: 600
        margin: 15px auto

        &:hover
            background-color: $POINT-COLOR-1 

    a
        text-decoration-line : none
