@import "./common/_common.sass"

html, body
  margin: 0
  width: 100%
  height: 100%
  background-color: $POINT-COLOR-3

  
body
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale



  