$POINT-COLOR-1 : #00C48C
$POINT-COLOR-2 : #7DDFC3
$POINT-COLOR-3 : #D5F2EA

$BASE-COLOR-1 : #fff
$BASE-COLOR-2 : #dfdfdfe5
$BASE-COLOR-3 : #919191e5
$BASE-COLOR-4 : #000000e5
$BASE-COLOR-4 : #000000

$SHADOW-STYLE-1 : 0px 4px 4px rgba(0, 0, 0, 0.1)
$SHADOW-STYLE-2 : 0px 3px 1px -2px RGB(0 0 0 / 20%), 0px 2px 2px 0px RGB(0 0 0 / 14%), 0px 1px 5px 0px RGB(0 0 0 / 12%)
$SHADOW-STYLE-3 : 0px 2px 4px -1px RGB(0 0 0 / 20%), 0px 4px 5px 0px RGB(0 0 0 / 14%), 0px 1px 10px 0px RGB(0 0 0 / 12%)

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

*   
     font-family: "Nanum Gothic", sans-serif

